/* 
multi step register */





/* Hide all steps by default: */
.tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }
  
  .regHeader{
    margin-bottom: 5%;
  }
  .regHeader h2, h1{
    color: #00008b;
  }
  
  .regFooter{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 20%;
    margin-bottom: 5%;
    align-items: center;
  }
  

    .card-photo img{
      max-width: 100%;
      max-height: 100%;
      border-radius: 2%;
      /* margin-left: 2%; */
    }

  .card-account-detail{
    color: #00008b !important;
    font-weight: 800;
  }

  #more{
    display: none;
  }
  #morecmodel{
    display: none;
  }

  .logo-img{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .companyHeader{
    margin-left: 35%;
    margin-right: 20%;
    margin-bottom: 5%;
    align-items: center;
  }

  .login-img{
    padding: 0;
    margin: 0 auto;
    display: block;
max-width: 100%;
max-height: 100%;
width: auto;
height: auto;
  }

  /* .content-row{
    height: 100%;
  } */

  .regform{
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 15%;
  }

  .profile-percentage{
    text-decoration: underline;
    font-weight: 700;
    color: #00008b !important;

  }




@media  (max-width: 5281px) {
  .login-img{
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
    background-repeat: repeat-y;
  }

  .regform{
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
  }
}



      /* 1281 max */
      @media (max-width: 1281px) {
  
        .regPhoto img{ 
          height: 100%;
          width: 300px;
          margin-left: 0% !important;
        }
        .regform{
          margin-top: 20%;
          margin-left: 8%;
          margin-right: 8%;
        }
  
      }

      @media  (max-width: 1024px) {
        .login-img{
          display: none;
        }
        .login-section{
          display: none;
        }
          .regform{
            left: 20%;
            width: 80%;
          }
          .col-md-6 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .regform{
          margin-top: 15%;
          margin-left: 5%;
          margin-right: 5%;
        }

        @media (max-width: 900px) { 


          .regPhoto img{ 
            display: none;
          } 

          .regFooter{
            margin-left: 2%;
            margin-right: 20%;

          }

          .regform{
            margin-top: 5%;
            margin-left: 1%;
            margin-right: 1%;
          }
  }
    @media (max-width: 600px) { 
    
      .regPhoto img{ 
        display: none;
      } 

      .card-photo img{
        /* margin-left: 0%; */
      }
          
          .regFooter{
            margin-left: 2%;
            margin-right: 20%;
    
          }
    
          .regform{
            margin-top: 30%;
            margin-left: 10%;
            margin-right: 10%;
          }
      
  }
}


/* auto complete */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: relative;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99999 !important;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  overflow: visible;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  z-index: 99999 !important;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
  z-index: 99999 !important;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
  z-index: 99999 !important;
}
.ui-autocomplete{
  z-index:50;      
}

